.main-container{
    margin-top: 80px;
    margin-left: 60px;
    
}

.item-container{
    height: 300px !important ;
    width: 300px !important;
    border: solid 1px  ;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    margin-right: 30px;
}

.image-style{
    height: 200px;
    width: 200px;
    border-radius: 5px;
}
.radio-btn-container{

}

.radio-btns{
    margin-left: 25px;
}
.rating{
   margin-right: 10px;
   margin-top: 1px;
}

.star-round {
    width: 17px;
    height:17px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-right: 15px;
  }

.star {
    width: 12px;
    fill: white;
  }

.rupee{
    height: 15px; 
    margin-top: 5px;
}

.add-btn{
    width: 100px;
}
.add-count{
    width: 160px;
    height: 32px;
    border: solid 1px ;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.counter{
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.count-size{
    font-size: 22px;
}
.count-btn{
    background-color: white !important;
    border: none;
    width: 38px;
    height: 30.5px;
  border-radius: 5px;
}

.count-btn:hover{
    background-color: rgb(239, 234, 234) !important;
}
.cursor{
    cursor: pointer;
}
footer{
  position: fixed;
  bottom: 0;
  width: 50%;
  background-color: #1ba672;
  padding: 10px;
  padding: 5px 50px 0px 50px;
  z-index: 1000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: 500;

}
.cart-img{
    height: 25px !important;
    margin-bottom: 15px;
    margin-left: 10px;
}
.item-margin{
    margin-bottom: 30px;
}






