 .bg-container{
    /* background-color: #f08330; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/images/food.jpg') !important;
    background-size: cover;
    background-position: center;
    
}


.label-style{
    font-size: 20px;
    margin-left: 10px;
}
.input-field{
    width: 15rem;
    height: 2rem;
    border-radius: 13px;
    border: none;
    padding: 10px;
}
.field-container{
    margin-top: 10px;
}

.display-center{
    display: flex;
    justify-content: center;
    /* color: ; */
}
.login-btn{
    height: 30px;
    width: 30%;
    margin-top: 25px;
    /* background-color:rgb(85, 75, 75) ; */
    border: solid 1px ;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    /* font-family: ; */
    cursor: pointer;
} 

.card-container{
    background-color: #feb266;
    height: 50%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 15px;
    border: solid 3px white;

}

.error-message{
    color: red;
    margin-left: 8px;
}