.cart-main-container{
    margin-top: 80px;
    /* height: 100%; */
    flex-wrap: wrap;
    overflow: hidden;
}
.cart-item-details{
    width: 60%;
    height: 180px;
    border: solid 1px rgb(220, 211, 211);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
}
.img-container{
    width: 130px;
    height: 120px;
}
.image-style{
    width: 130px;
    height: 120px;
    border-radius: 5px;
}
.rupee{
    height: 15px;
    margin-right: 2px;  
}
.price-details{
    display: inline;
}
.star-round {
    width: 17px;
    height:17px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-right: 15px;
  }

.star {
    width: 12px;
    fill: white;
  }

.count-btn{
    background-color: white !important;
    border: none;
    border-radius: 5px;
    width: 40px;
}

.count-btn:hover{
    background-color: rgb(239, 234, 234) !important;
}
.cursor{
    cursor: pointer;
}

.count-container{
    display: flex;
    justify-content: space-between;
    width: 130px;
    height: 27px;
    border: solid 1px black;
    margin-top: 10px;
    border-radius: 5px;

}

.cart-img{
    height: 300px;
}

.go-home{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: rgb(240, 172, 45);
    color: white;


}

.order-now{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: rgb(240, 172, 45);
    color: white;
}














